* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

.header {
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    z-index: 2;
}

.header span {
    font-family: Roboto;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: white;
}

body {
    background-color: #fafafa;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.criarQuizz {
    height: 181px;
    width: 73%;
    border: dashed 1px #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criarQuizz span {
    width: 250px;
    height: 107px;
    color: #b9b9b9;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.todosOsQuizzes{
    min-width: 375px;
    height: 100%;
    margin-left: 18px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}
li{
    width: 340px;
    height: 181px;
    background-size: 100% 100%;
   /* -webkit-mask-image: linear-gradient(to top, 0,0,0,1 50%, transparent 50%);*/
   
}
.todosOsQuizzes .caixaQuizz{
    width: 340px;
    height: 181px;
    display: flex;
    position: relative;
    margin-top: 14px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,0), rgba(0,0,0,1));
}

.todosOsQuizzes .caixaQuizz p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    width: 301px;
    height: 54px;
    position: absolute;
    bottom: 6px;
    left: 17px;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;

}

.h1-screen1{
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: black;
}

.botaoCriarQuizz {
    background-color: white;
    color: #ec362d;
    height: 40px;
    width: 151px;
    border-radius: 50px;
    border: 1px;
    border-color: #EC362D;
    outline-style: dashed;
    outline-color: #EC362D;
    margin-bottom: 33px;

    font-weight: 400;
    font-size: 21px;
}

.h2-screen3 {
    font-weight: 700;
    font-size: 20px;
    font-family: Roboto;
    line-height: 23px;
    margin-bottom: 23px;
}

.formulario {
    background-color: white;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
    padding: 21px 0;
    box-shadow: 0px 0px 10px 0px #0000000D;
}

.formulario input {
    width: 94%;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
}

.formulario ::placeholder {
    color: #bababa;
    font-style: italic;
    font-size: 19px;
    line-height: 22px;
    padding-left: 18px;
}

.screen-3 button {
    background-color: #EC362D;
    width: 368px;
    height: 54px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    margin: 29px auto 60px auto;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    line-height: 25px;
}